<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lyft</title>
    <link rel="shorcut icon" type="image/x-icon" href="../assetts/imgs/lyft-icon.png" />
    <link rel="stylesheet" href="../css/materialize.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../assetts/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <script src="https://use.fontawesome.com/e7261129df.js"></script>
</head>

<body>
    <main class="container-fluid flex">
        <div class="row center">
            <dv class="col s12">
                <img src="../assetts/imgs/lyft-blanco.svg" alt="lyft-logo">
            </dv>
        </div>
        <div class="row center">
            <div class="col s6 m2 push-m4">
                <button id="ingresar" type="button" class="btn">Login</button>
            </div>
            <div class="col s6 m2 push-m4">
                <button id="registrarse" type="button" class="btn purple accent-4">Sign up</button>
            </div>
        </div>
    </main>

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/materialize.min.js"></script>
    <script src="../js/app.js"></script>
</body>
</html>