<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lyft</title>
    <link rel="shorcut icon" type="image/x-icon" href="../assetts/imgs/lyft-icon.png" />
    <link rel="stylesheet" href="../css/materialize.min.css" />
    <link rel="stylesheet" href="../css/signup.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <script src="https://use.fontawesome.com/e7261129df.js"></script>
</head>

<body>
    <main class="container-fluid">
        <div class="row">
            <a href="home.html" class=""><i class="fa fa-angle-left fa-3x"></i></a>
        </div>
        <div class="row center">
            <h2>Regístrate</h2>
            <h4>Únete ahora y obtén un viaje gratis</h4>
            <input type="tel" placeholder="52+ 123456789">
            <h6>Enviaremos un mensaje para confirmar tu número</h6>
            <a href="data-signup.html">Siguiente</a>
        </div>
    </main>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>